*{
    margin: 0px;
    padding: 0xp;
    box-sizing: border-box;
    border: none;
}

/*HEADER*/

body{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Advent Pro', 'Times New Roman', Arial, Helvetica, sans-serif, Times, serif, sans-serif;
    font-size: 14px;
    background: #fffffe;
}

/*MAIN PART WITH PHOTOS*/

.idAuthor {
    width: 200px;
    float: center;
    font-size: 20px;
    background: azure;
    border: 1px solid;
    padding: 10px;
    outline: none;
}

.select {
    color: blue;
}

#filter {
    font-size: 20px;
    padding-top: 15px;
    text-align: center;
}

.selectTime {
    color: black;
    text-decoration-style: wavy;
}

.scroll {
    height: 347px;
    width: 320px;
    background: #fff;
    border: 1px solid #C1C1C1;
    overflow-y: scroll;
}


.border{
    width: 90%;
    max-width: 1000px;        
    margin: 1em auto;
    padding: 1em;
    border: 2px dashed #ccc;
    box-shadow:
        0 0 0 1px #ccc,
        inset 0 0 0 1px #ccc;
      
    margin-top: 100px;
    display: flex;
    border: 1px #7c7c7c solid;
}

.leftPart{
    display: flex;
    flex-direction: column;
    border-top: 1px #7c7c7c solid;
    border-left: 1px #7c7c7c solid;
    justify-content: space-between;
    overflow: hidden;
    height: 460px;
    width: 450px;
}

.photoBase{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.photo{
    height: 400px;
}

.photoEmpty{
    height:400px;
}

.photoPanel{
    display: flex;
    justify-content: flex-end;
    height: 68px;
    border: 1px #7c7c7c solid;
    background: #f8faff;
}

.likeButton{
    background: #f8faff;
    height: 60px;
    width: 80px;
    outline: none;
    cursor: pointer;
}

.editButton{
    background: #f8faff;
    height: 60px;
    width: 80px;
    outline: none;
    cursor: pointer;
}

.trashButton{
    background: #f8faff;
    height: 60px;
    width: 80px;
    outline: none;
    cursor: pointer;
}

.rightPart{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 460px;
    width: 320px;
    background: #f0f0f0;
    border-left: 1px #7c7c7c93 solid;  
    border-right: 1px #7c7c7c solid;
    border-top: 1px #7c7c7c solid; 
}

.description{
    padding: 5px;
    font-size: 16px;
}

.authorId{
    padding: 5px;
}

.hashtags{
    padding: 8px;
    color: blue;
}

.userPanel{
    height: 38px;
    background: #f8faff;
    border: 0px #7c7c7c93 solid;
}

.userPanel textarea{
    padding: 0px 8px;
    height: 100%;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    border-top: 1px #7c7c7c solid;
    border-bottom: 1px #7c7c7c solid;
    border-right: 1px #7c7c7c solid;
    resize: none;
    -moz-appearance: none;
}

.user{
    display: flex;
    align-items: center;
    background: #e9d8d8;
    border-bottom: 1px #7c7c7c solid;
}

.avatar2{
    height: 35px;
    border-radius: 20px;
    border: 1px rgba(0, 0, 0, 0.514) solid;
    margin: 5px 5px 5px;
    margin-left: 10px;
}

.toProfile2{
    font-family: 'Advent Pro', sans-serif;
    margin: 0px 0px 5px;
    margin-top: 4px;
    margin-left: 5px;
    text-align: center;
    height: 35px;
    width: 140px;
    background: #eff1fa;
    font-size: 23px;
    text-decoration-style: solid;
    border: 1px #89b4b9 solid;
    border-radius: 20px;
    text-shadow: #8b6f6f;
    outline: none;
}

.comments{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 8px;
}

.likes{
    display: flex;
    align-items: center;
    margin-left: 5px;
    padding: 3px;
}

.time{
    display: flex;
    align-items: center;
    margin-left: 5px;
    padding: 3px;
}

/*Deleting*/

#delete{
    position: fixed;
    font-size: 25px;
    top: 260px;
    width: 400px;
    height: 200px;
    background: #e8eaf6;
    border: 2px solid #b1c5df;
    border-radius: 50px;
}

#delete p{
    margin-top: 12%;
    margin-left: 30%;
    font-size: 28px;
}

#yes{
    width: 120px;
    height: 44px;
    margin-top: 13%;
    margin-bottom: 30px;
    margin-left: 50px;
    border-radius: 20px;
    background: #816a6a;
    outline: none;
    cursor: pointer;
}

.yes:hover{
    box-shadow: 200px 0 0 0 #554545 inset;  
}

#cancel{
    width: 120px;
    height: 44px;
    margin-top: 13%;
    margin-bottom: 30px;
    margin-left: 50px;
    border-radius: 20px;
    background: #816a6a;
    outline: none;
    cursor: pointer;
}

.cancel:hover{
    box-shadow: 200px 0 0 0 #554545 inset;  
}

#textY{
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    text-align: center;
}

#textC{
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    text-align: center;
}


/*Footer*/
.footer {
    text-align: center;
    flex: 0 0 auto;
    margin: 60px 0 20px 0;
    width: 100%;
}

#loadMore{
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    position: relative;
    width: 140px;
    height: 40px;
    margin: 40px 0 20px 0;
    background: #8b6f6f;
    border-color: 1px rgb(27, 10, 20);
    border-radius: 20px;
    outline: none;
    cursor: pointer;
}

#loadMore:hover{
    color:rgb(129, 6, 6);
    text-shadow: 0 0 1px rgb(129, 6, 6);
}

#loadMore:active{
    box-shadow: inset 2px 2px 6px #523f3f;
}

#posts {
    min-height: 100vh;
}